<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
 <%= stylesheet_link_tag  "style.css" %>
</head>

<body>
<div id="wraper">
<div id="main">

<!--header block start-->
<div id="header">

<!--navigation block start-->
<div id="navigation"><img src="/images/nav.jpg" /></div>
<!--navigation block end-->


<!--banner block start-->
<div id="banner"><img src="/images/banner.jpg" /></div>
<!--banner block end-->



</div>
<!--header block end-->


<!--content block start-->
<div class="main_content">



<!--left block start-->
<div class="left_content">
<p>
<span class="big_font">A</span>aron Knight is a male companion for ladies. He is available
to join you in restaurants, bars or at your hotel / residence.
<br /><br />
This is not an escort service or offer of prostitution. Money
exchanged is for time and companionship only. The material
on this website is adult oriented. Access is made available
only to those who are legally allowed to view it.<br />
<br />
You must be over 18 years of age to enter this site.

<div>
	<div class="enter"><a href="#" alt="Enter" title="Enter">Enter</a></div>
	
	<div class="enter"><a href="#" alt="Leave" title="Leave">Leave</a></div>

</div>


</p>




</div>
<!--left block end-->


<!--right block start-->
<div class="right_imgblock"><img src="images/picture.jpg" /></div>
<!--right block end-->



</div>

<!--content block end-->

<div class="clear">&nbsp;</div>

</div>
<br />
<br />
<br />
<br />
<br />
<!--footer block start-->
<div id="footer">
<img src="images/footer.jpg">
</div>
<!--footer block end-->


</div>

</body>
</html>
